html {
    font-family:'Roboto', sans-serif;
    background-image: url("image/back.jpg");
    height: 100%;
    width: 100%;
}
BODY {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;

}
h1 {
    text-align:center;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

#colorTurn {
    font-size: 1.5em;
    border:2px solid #984843;
    width:75%;
    margin-bottom:2%;
    margin: auto;

}
#grid {
    margin: auto;
    margin-top: 5%;
    display: table;
    width: 90%;
    height: 90%;;
    padding: 2%;
    background: rgb(11, 24, 63);
    border: 1px solid #0044AA;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-spacing: 5px 5px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    background-color: #FFFFFF;
    width: 7vmax;
    height: 7vmax;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 2px;
}

#winLose{
    text-align:center;
    border:2px solid #984843;
    width:60%;
    height: 1.5em;
    font-size: 2m;
    margin:auto;
    margin-top:2%;
    /* background-color:white; */
}

footer {
    /*visibility:hidden;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#resetButton {
   
    margin-right: 5vw;
    
}

